<html>
<head>

  
{% load staticfiles %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">


       
    {% block headers %}

    {% endblock %} 

</head>




<body>
<div class="navbar navbar-default" style="margin-bottom:5px">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">Map experiment</a>

                </div>
{% block nav_form %}

{% endblock %}


 </div>
<!-- Start main websiteBody Div -->
 <div class="container-fluid" >
<!-- Start TMP , Please remove me -->






{% block content %}


<!-- USe this to add your stuff   -->
{% endblock %}

        
<!-- End TMP , Please remove me -->
      <hr>

 <footer>
        <p>&copy; Beshoy & Mahmoud 2013</p>
      </footer>
</div>


<!-- end main websiteBody Div -->
<script language="javascript" type="text/javascript" src='{% static "js/jquery-v1.7.2.js" %}'></script>
<script src="{% static "js/bootstrap.js" %}" language="javascript" type="text/javascript"></script>

  {% block script %}

<script>
<!--

var millisec = 0;
var seconds = 0;
var timer;

function display(){

  if (millisec>=9){
     millisec=0
     seconds+=1
  }
  else
     millisec+=1
     $('#timer').val(seconds + "." + millisec);
     timer = setTimeout("display()",100);
  }

function starttimer() {
  
  if (timer > 0) {
  return;
  }
  display();  
}
function stoptimer() {
  clearTimeout(timer);
  timer = 0;
}


function resettimer() {
  stoptimer();
  millisec = 0;
  seconds = 0;
}


-->
</script>
  {% endblock %}

<script language="javascript" type="text/javascript">
  // use load event on window to start the script
  jQuery(window).load(function(){   
    // example 1


    $('#example').popover('toggle')
    
  });
  
</script>

  {% block js %}
  
  {% endblock %}

</body>
</html>
