{% extends "base.html" %}
{% load staticfiles %}

{% block content%}
   <center><div> 
    <h1 class = "text-muted" style = "text-align: center;"> Greetings participant<h1>
    <h5><form form action="/logged/" method="GET" id="form">
            <div class="control-group" style="float: inline">
                    <label>Please add your number</label>
                    <div class="controls">
                        <input type="text" style="width: 125px" name="participant_num" id="inputPart" placeholder="Partcipant number" autofocus =""/>
                    </div>
                </div>

    </div></center>
  <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">instructions</h3>
              </div>
              <div class="panel-body">
                <ul>
                {%if trials %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Trial Num</th>
                  <th>Trial txt</th>
                  <th>point A</th>
                  <th>point B</th>
                  <th>blockId</th>
                  <th>order</th>
                </tr>
              </thead>
              <tbody>
                  {%for trail in trials%}
                <tr>
                  <td>{{trail.id}}</td>
                  <td>{{trail.trialNumber}}</td>
                  <td>{{trail.pointA}}</td>
                  <td>{{trail.pointB}}</td>
                  <td>{{trail.blockId}}</td>
                  <td>{{trail.order}}</td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
            {% endif %}
                </ul>
              </div>
            </div>

    <button type="submit" style="margin-left: 520px;" class="btn btn-success"> start </button>
  </form>
{% endblock %}
