{% extends "base.html" %}
{% load staticfiles %}

{% block content%}
   <center>
     <div> 
    <h1 class = "text-muted" style = "text-align: center;"> Greetings participant<h1>
    <h5><form form action="/u/" method="GET" id="form">
            <div class="control-group" style="float: inline">
                    <label>Please add your number</label>
                    <div class="controls">
                        <input type="text"class="form-control" style="width: 225px" name="participant_num" id="inputPart" placeholder="Partcipant number" autofocus =""/>
                    </div>
                </div>
    </div>
  </center>
  <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">instructions</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <li>Goal of the study: checking which technique of map representation is more efficient and user friendly.</li>
                  <br>
                  <li>This study consists of a some tasks regarding different techniques of the map presentations.&nbsp;In total, participation should take less than 1 hour 30 minutes.</li>
                  <br>
                  <li>You are free to refrain from participation now or at any point during the survey. If you feel uncomfortable or do not wish to continue participation, simply close the browser window. Furthermore, you can decide to cancel your permission to use your data until 24 hours after completion of the survey. You are not obliged to inform us about your reasons to do so. If you decide to refrain from participation during or after the survey, your data will be deleted from our files. Given, that the data will be fully anonymized, it is impossible to do so at a later stage</li>
                  <br>
                  <li>Participation in this study is strictly anonymous. The data from this survey will only be used by the researcher students. No personal information will be used.</li>
                  <br>
                  <li>If you would like to obtain more information about this study or if you have a complaint, you can contact Dr. Abouelsaadat, Wael (email: wael.abouelsaadat@guc.edu.eg) or to the student Mahmoud Osman (email: mahmoud.osman@student.guc.edu.eg) or Beshoy Atef (email: beshoy.zarif@student.guc.edu.eg)</li>
                  
                </ul>
              </div>
            </div>
            <button type="submit" style="margin-top:25px;" class="btn btn-success">Start</button>

  </form>
{% endblock %}

