{% extends "base.html" %}
{% load staticfiles %}

{% block content%}
  <!-- <div>
    <div> </div>
    <div style="float:left; width:500px; backgroud: RED"> </div>
    <div> </div>  
  </div> -->
  <style type="text/css">

  	.col-md-2{
  		background-color: gray
  		}</style>
  <div class="row">
	  <a class="col-md-6">
  	  	<div class="">
  		  	<img id="zoom_01" src='{% static "img/smmanMetroMap.jpg" %}' data-zoom-image='{% static "img/manMetroMap.png" %}' style="width:100%">
  	  	</div>
	  </a>
	  <div class="col-md-6 ">
	  	<a class="">
		  	<img id="zoom_02" src='{% static "img/smManMap.jpg" %}' data-zoom-image='{% static "img/ManMap.png" %}' style="width:100%">
	  	</div>
	  </a>
  </div>
  <div style="
position: fixed;
left: 0;
bottom: 0;
height: 200px;
width: 300px;

opacity: 0.4;" id="demo-container">
<div style="opacity:1;color: black;">
</div>
</div>

	<div class="panel panel-default">
              <div class="panel-body">
              	<div class="row">
					  <div class="col-md-3" style="background-color: blue">.col-md-1</div>
					  <div class="col-md-7" style="background-color: yellow">.col-md-1</div>
					  <div class="col-md-2" >.col-md-1</div>
				</div>

              </div>
  
              </div>
            </div>






{% endblock %}