{% extends "base.html" %}
{% load staticfiles %}

{% block nav_form %}
                <ul class="nav navbar-nav navbar-right">
                  <form class="navbar-form navbar-left" action="/submit/{{u}}/{{trial.blockId}}/{{trial.trialNumber}}/" method="POST">
                    {% csrf_token %}
                    <a id="example" href="#" class="btn btn-success" data-toggle="popover" title="Test T-{{trial.trialNumber}}" data-placement="bottom" data-content="{{trial.task_text}}" role="button" data-original-title="A Title">Instructions</a>

                    <div class="form-group">
                      <input type="text" class="form-control" name="answer" placeholder="Answer">
                    </div>
                    <input type="text" name="d2" id= "timer" value="0" class="form-control" style="display:none" >
                    <button type="submit" class="btn btn-success">Confirm</button>
                    <div class="btn-group">
                      <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                        Selected Items <span id="count_selected"></span>
                        <span style="border-top-color: #FFFFFF;border-bottom-color: #FFFFFF;" class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" >
                        <li role="presentation" class="disabled" id="div_selected">
                        </li>
                      </ul>
                    </div>
                  </form>
                </ul>

{% endblock %}

{% block content%}


  <!-- <div>
    <div> </div>
    <div style="float:left; width:500px; backgroud: RED"> </div>
    <div> </div>  
  </div> -->
  <style type="text/css">

    .col-md-2{
      background-color: gray
      }
      .zoomContainer{
        z-index: -1;
        }</style>
  <div class="row">
            <div class="">
          <a class="">
        </a>
      </div>
    <a class="">
        <div class="">

          {# <img id="zoom_01" src='{% static "img/manMetroMap.png" %}' data-zoom-image='{% static "img/manMetroMap.png" %}'  width="800" height="1842"  style="float:left;" border="0" usemap="#map"> #}

          <img id="zoom_02" src='{% static "img/usedStreetMapFinal.jpg" %}' usemap="#map2" width="1000">
          {% include "metropoints.html" %}
          {% include "citypoints.html" %}
        </div>
    </a>

    <div class="btn-group-vertical col-md-2" style="background-color: white">
      <a id="hilightlink" href="#">Mouse over this to trigger a hilight from an external element!</a>
    </div>

</div>


  </div>
  <div style="
position: fixed;
left: 0;
bottom: 0;
height: 200px;
width: 300px;

opacity: 0.4;" id="demo-container">
<div style="opacity:1;color: black;">
</div>
</div>

  <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
            <div class="col-md-3"  style="background-color: blue">.col-md-1</div>
            <div class="col-md-7" style="background-color: yellow">.col-md-1</div>
            <div class="col-md-2" >.col-md-1</div>
        </div>

              </div>
  
              </div>
            </div>




{% endblock %}

{% block js %}

<script src="{% static "js/jquery.elevatezoom.js" %}"></script>
<script src="{% static "js/jquery.maphilight.min.js" %}"></script>
    <script>$(function() {
        $('.map').maphilight({
            fillColor: '008800'
        });
        $('.star').click(function(e) {
            e.preventDefault();
            var data = $(this).mouseout().data('maphilight') || {};
            data.alwaysOn = !data.alwaysOn;
            $(this).data('maphilight', data).trigger('alwaysOn.maphilight');
            $(this).toggleClass("clicked");
            checkclicked();
        });
    });
function checkclicked(){
  $("#div_selected").html("");

  var $html =""
  var $clicked_items=$( ".clicked" );
  $clicked_items.each(function() {
  $("#count_selected").html("("+$clicked_items.length+")")
  $html = $html+'<a role="menuitem" tabindex="1" href="#">' + $(this).attr("alt")+'</a>' ;
});

  $("#div_selected").html($html);
}
    </script>

  <script>



   $('#zoom_01').maphilight();
   $('#zoom_02').maphilight();

   $('#hilightlink').mouseover(function(e) {
            $('#square2').mouseover();
        }).mouseout(function(e) {
            $('#square2').mouseout();
        }).click(function(e) { e.preventDefault(); });

        $( document ).ready(function() {
        starttimer();
    });
        var coords = [];
        [].forEach.call(document.querySelectorAll("area"), function (value, index, array) {
            coords.push(value.getAttribute("coords").split(","));
        });

        console.log(coords);


        var IE = document.all?true:false

        // If NS -- that is, !IE -- then set up for mouse capture
        if (!IE) document.captureEvents(Event.MOUSEMOVE)

        document.onmousemove = getMouseXY;


        // Temporary variables to hold mouse x-y pos.s
        var tempX = 0
        var tempY = 0

        // Main function to retrieve mouse x-y pos.s

        function getMouseXY(e) {
          if (IE) { // grab the x-y pos.s if browser is IE
            tempX = event.clientX + document.body.scrollLeft
            tempY = event.clientY + document.body.scrollTop
          } else {  // grab the x-y pos.s if browser is NS
            tempX = e.pageX
            tempY = e.pageY

            tempXplus = tempX+50
            tempYplus = tempY+50
            for (var i = 0; i < coords.length; i++) {
              pointTemp=coords[i]
              distTemp =
                Math.sqrt(
                  ((pointTemp[0] - tempX)*(pointTemp[0] - tempX))+ 
                  ((pointTemp[1] - tempY)*(pointTemp[1] - tempY))
                  );
                
                if(distTemp<30){
                console.log(distTemp+":SHow");

                  //alert(distTemp);
                  var txtTmp=""+pointTemp[0]+","+pointTemp[1]+","+pointTemp[2]
                 
                  //$('[coords|=' +"'"+ txtTmp +"'" + ']').mouseover();
                }
                //if (coords[i].[0])
                // alert(coords[i]);
                //Do something
            }

          }  
          // catch possible negative values in NS4
          if (tempX < 0){tempX = 0}
          if (tempY < 0){tempY = 0}  
          // show the position values in the form named Show
          // in the text fields named MouseX and MouseY

          $('#x').val(tempX)
          $('#y').val(tempY)
          return true
        }
     $("#zoom_01").elevateZoom({
           zoomWindowPosition: "demo-container", 
           zoomWindowWidth:400,
           zoomWindowHeight:200,
           scrollZoom : true,
           
     });    
    $("#zoom_02").elevateZoom({
          zoomWindowPosition: "demo-container", 
          zoomWindowWidth:400,
          zoomWindowHeight:200,
          scrollZoom : true,
          
    }); 

</script>
{% endblock %}