{% extends "base.html" %}
{% load staticfiles %}

{% block nav_form %}
                    {% if trial.task == 1 %}
                    <a id="example" nohref="#" class="btn btn-success" data-toggle="popover" title="Test T-{{trial.trialNumber}}" data-placement="bottom" data-content="Please find the route with the minimum number of stations starting from {{trial.pointA}} reaching {{trial.pointB}}. <br> Kindly submit the number of stations you found and mark them on the map." role="button" data-original-title="A Title">Instructions</a>
                    {% elif trial == 2 %}
                    <a id="example" href="#" class="btn btn-success" data-toggle="popover" title="Test T-{{trial.trialNumber}}" data-placement="bottom" data-content="Please pinpoint the nearest station to {{trial.pointA}}. <br> kindly, submit its name in the text field." role="button" data-original-title="A Title">Instructions</a>
                    {% endif %}

{% endblock %}

{% block content%}


  <!-- <div>
    <div> </div>
    <div style="float:left; width:500px; backgroud: RED"> </div>
    <div> </div>  
  </div> -->
  <style type="text/css">

    .col-md-2{
      background-color: gray
      }
      .zoomContainer{
        z-index: -1;
        }</style>
  <div class="row">
            <div class="">
          <a class="">
        </a>
      </div>
    <a class="">
        <div>
          <div style="margin-left: 50px">
          <img id="zoom_01" src='{% static "img/manMetroMap.png" %}' data-zoom-image='{% static "img/manMetroMap.png" %}'  width="800"   border="0" usemap="#map">
          </div>
          <div style="">
          <img id="zoom_02" src='{% static "img/smusedStreetMapFinal.jpg" %}' data-zoom-image='{% static "img/usedStreetMapFinal.jpg" %}' usemap="#map2" width="1000">
          </div>
          {% include "metropoints.html" %}
          {% include "citypoints.html" %}
        </div>
    </a>


</div>


  </div>
  <div style="
position: fixed;
left: 0;
bottom: 0;
height: 300px;
width: 500px;
opacity: 0.4;" id="demo-container">
<div style="opacity:1;color: black;">
</div>
</div>




{% endblock %}

{% block js %}



<script src="{% static "js/jquery.elevatezoom.js" %}"></script>
<script src="{% static "js/jquery.maphilight.min.js" %}"></script>

    <script>$(function() {


      var area_tmp =  $('#map2_div area');
      var classes = "";
      var class_to_show = "";

            area_tmp.click(function(e) {
            e.preventDefault();
            area_tmp.mouseout();
            var data = $(this).mouseout().data('maphilight') || {};
            data.alwaysOn = !data.alwaysOn;
            $(this).data('maphilight', data).trigger('alwaysOn.maphilight');
            $(this).toggleClass("clicked");
            console.log($(this).attr('class'));
            console.log($(this));
           classes = $(this).attr('class');
           class_to_show = classes.split(" ");
           $("."+class_to_show).mouseover();
           checkclicked();

        });

    });

  function changeval(changed){
    $("#answer_inp").val(changed);

  }

function checkclicked(){
  var div_selected_tmp = $("#div_selected");
 div_selected_tmp.html("");

  var $html =""
  var $clicked_items=$( ".clicked" );
  $clicked_items.each(function() {
  $("#count_selected").html("("+$clicked_items.length+")")
  var $tmp_alt = $(this).attr("alt");
  $html = $html+'<li role="presentation"><a role="menuitem" class="selected_itms" value=0 tabindex="1"  onClick="changeval(\'' + $tmp_alt + '\')" href="#" >'+ $tmp_alt +'</a></li>';

// $("#answer_inp").val('+$tmp_alt +');
  
});

  div_selected_tmp.html($html);
}
    </script>

  <script>



   $('#zoom_01').maphilight({"strokeColor":"0000ff" ,"strokeWidth":3,"fillColor":"ff0000","fillOpacity":0.3});
   $('#zoom_02').maphilight({"strokeColor":"0000ff" ,"strokeWidth":1,"fillColor":"ff0000","fillOpacity":0.3});;

        $( document ).ready(function() {
        starttimer();
    });
        // var coords = [];
        // [].forEach.call(document.querySelectorAll("area"), function (value, index, array) {
        //     coords.push(value.getAttribute("coords").split(","));
        // });

        // console.log(coords);


        // var IE = document.all?true:false

        // If NS -- that is, !IE -- then set up for mouse capture
        // if (!IE) document.captureEvents(Event.MOUSEMOVE)

        // document.onmousemove = getMouseXY;


        // Temporary variables to hold mouse x-y pos.s
        // var tempX = 0
        // var tempY = 0
        // Main function to retrieve mouse x-y pos.s

        // function getMouseXY(e) {
        //   if (IE) { // grab the x-y pos.s if browser is IE
        //     tempX = event.clientX + document.body.scrollLeft
        //     tempY = event.clientY + document.body.scrollTop
        //   } else {  // grab the x-y pos.s if browser is NS
        //     tempX = e.pageX
        //     tempY = e.pageY

        //     tempXplus = tempX+50
        //     tempYplus = tempY+50
        //     for (var i = 0; i < coords.length; i++) {
        //       pointTemp=coords[i]
        //       distTemp =
        //         Math.sqrt(
        //           ((pointTemp[0] - tempX)*(pointTemp[0] - tempX))+ 
        //           ((pointTemp[1] - tempY)*(pointTemp[1] - tempY))
        //           );
                
        //         if(distTemp<30){
        //         console.log(distTemp+":SHow");

        //           //alert(distTemp);
        //           var txtTmp=""+pointTemp[0]+","+pointTemp[1]+","+pointTemp[2]
                 
        //           //$('[coords|=' +"'"+ txtTmp +"'" + ']').mouseover();
        //         }
        //         //if (coords[i].[0])
        //         // alert(coords[i]);
        //         //Do something
        //     }

        //   }  
        //   // catch possible negative values in NS4
        //   if (tempX < 0){tempX = 0}
        //   if (tempY < 0){tempY = 0}  
        //   // show the position values in the form named Show
        //   // in the text fields named MouseX and MouseY

        //   $('#x').val(tempX)
        //   $('#y').val(tempY)
        //   return true
        // }


</script>
{% endblock %}
