{% extends "base.html" %}
{% load staticfiles %}


{% block nav_center %}
<ul class="nav navbar-nav" >
  <form class="navbar-form ">
<div class="btn-toolbar" role="toolbar">
<div class="btn-group col-md-offset-3 " style="position:fixed">
  <button type="button" class="btn btn-success" onClick="mapChange('2');">City Map</button>
  <button type="button" class="btn btn-success" onClick="mapChange('1');">Subway Map</button>
</div>
</div>
</form>
</ul>
{% endblock %}

{% block nav_form %}
                    {% if trial.task == 1 %}
                    <a id="example" href="#" class="btn btn-success" data-toggle="popover" title="Test T-{{trial.trialNumber}}" data-placement="bottom" data-content="Please find the route with the minimum number of stations starting from {{trial.pointA}} reaching {{trial.pointB}}.  Kindly submit the number of stations you found and mark them on the map." role="button" data-original-title="A Title">Instructions</a>
                    {% elif trial == 2 %}
                    <a id="example" href="#" class="btn btn-success" data-toggle="popover" title="Test T-{{trial.trialNumber}}" data-placement="bottom" data-content="Please pinpoint the nearest station to {{trial.pointA}}.  kindly, submit its name in the text field." role="button" data-original-title="A Title">Instructions</a>
                    {% endif %}

{% endblock %}

{% block content%}
  <!-- <div>
    <div> </div>
    <div style="float:left; width:500px; backgroud: RED"> </div>
    <div> </div>  
  </div> -->




  <div class="row" >


<center>
        <div class="map_area">


            <div>
              <div id="1"  style="display:none;" class="maps col-md-offset-3 ">
              <img id="zoom_01" src='{% static "img/manMetroMap.png" %}' data-zoom-image='{% static "img/manMetroMap.png" %}'  width="800"   border="0" usemap="#map">
              </div>
              <div id="2" class="maps col-md-offset-3 ">
              <img id="zoom_02" src='{% static "img/smusedStreetMapFinal.jpg" %}' data-zoom-image='{% static "img/usedStreetMapFinal.jpg" %}' usemap="#map2" width="1000">
              </div>

            </div>
        </div>
</center>
        {% include "metropoints.html" %}
        {% include "citypoints.html" %}
            

    <br>
    <div class="">

    </div>
  </div>







{% endblock %}

  {% block js %}
  <script src="{% static "js/jquery.elevatezoom.js" %}"></script>
  <script src="{% static "js/jquery.maphilight.min.js" %}"></script>

    <script type="text/javascript">





    function mapChange(id)
    {
        $(".maps").fadeOut({duration:1000});
        $("#"+id).delay(1000).fadeIn({duration:1000});
        $('.zoomContainer').html("");
        
            // $("#zoom_0"+id).elevateZoom({
            //           zoomWindowPosition: "demo-container", 
            //           zoomWindowWidth:500,
            //           zoomWindowHeight:300,
            //           scrollZoom : true,
                      
            // });
    }

    </script>
    {% block zoom %}
    <script type="text/javascript">
    $("#zoom_02").elevateZoom({
          zoomWindowPosition: "demo-container", 
          zoomWindowWidth:500,
          zoomWindowHeight:300,
          scrollZoom : true,
    }); 
        $("#zoom_01").elevateZoom({
          zoomWindowPosition: "demo-container", 
          zoomWindowWidth:500,
          zoomWindowHeight:300,
          scrollZoom : true,
    }); 
    </script>
    {% endblock %}
        <script>
    $(function() {


      var area_tmp =  $('#map2_div area');
      var classes = "";
      var class_to_show = "";

            area_tmp.click(function(e) {
            e.preventDefault();
            area_tmp.mouseout();
            var data = $(this).mouseout().data('maphilight') || {};
            data.alwaysOn = !data.alwaysOn;
            $(this).data('maphilight', data).trigger('alwaysOn.maphilight');
            $(this).toggleClass("clicked");
            console.log($(this).attr('class'));
            console.log($(this));
           classes = $(this).attr('class');
           class_to_show = classes.split(" ");
           $("."+class_to_show).mouseover();
           checkclicked();

        });

    });

  function changeval(changed){
    $("#answer_inp").val(changed);

  }

function checkclicked(){
  var div_selected_tmp = $("#div_selected");
  var form_tmp = $("#namealt");
  div_selected_tmp.html("");
  var $html ="";
  var $html2 ="";
  var $clicked_items=$( ".clicked" );
  $clicked_items.each(function() {
  $("#count_selected").html("("+$clicked_items.length+")")
  var $tmp_alt = $(this).attr("alt");
  $html = $html+'<li role="presentation"><a role="menuitem" class="selected_itms" value=0 tabindex="1"  onClick="changeval(\'' + $tmp_alt + '\')" href="#" >'+ $tmp_alt +'</a></li>';
  $html2 = $html2+","+$tempalt;

// $("#answer_inp").val('+$tmp_alt +');
  
});
  form_tmp.html($html2);
  div_selected_tmp.html($html);
}
    </script>
    </script>
  {% endblock %}

